@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    body {
        @apply press-start-2p-regular bg-slate-800 text-white;
    }

    h1 {
        @apply text-4xl uppercase;
    }

    label {
        @apply text-lg;
    }

    input {
        @apply text-xl text-black p-0.5 focus:outline-none;
    }

    button {
        @apply uppercase text-xl py-2 px-4 bg-blue-500 hover:bg-blue-600 active:bg-blue-700;
    }
}
